<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <span class="brand-text font-weight-light">Admin Dashboard</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block"><%= userName %></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <% if (userRole === 'admin' || userRole === 'superAdmin') { %>
            <li class="nav-item">
              <a href="/admin" class="nav-link <%= path === '/' ? 'active' : '' %>">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                </p>
              </a>
            </li>
          <% } %>
          
          <% if (userRole === 'superAdmin') { %>
            <li class="nav-item">
              <a href="/admin/adminUsers/all" class="nav-link <%= path.startsWith('/adminUsers') ? 'active' : '' %>">
                <i class="nav-icon fas fa-user-shield"></i>
                <p>
                  Admins
                </p>
              </a>
            </li>
          <% } %>
      
          <% if (userRole === 'superAdmin') { %>
            <li class="nav-item">
              <a href="/admin/cities/all" class="nav-link <%= path.startsWith('/cities') ? 'active' : '' %>">
                <i class="nav-icon fas fa-city"></i>
                <p>
                  Cities
                </p>
              </a>
            </li>
          <% } %>
          
          <% if (userRole === 'superAdmin') { %>
            <li class="nav-item">
              <a href="/admin/users/all" class="nav-link <%= path.startsWith('/users') ? 'active' : '' %>">
                <i class="nav-icon fas fa-users"></i>
                <p>
                  Users
                </p>
              </a>
            </li>
          <% } %>
          
          <% if (userRole === 'superAdmin' || userRole === 'admin') { %>
            <li class="nav-item">
              <a href="/admin/payments/all" class="nav-link <%= path.startsWith('/payments') ? 'active' : '' %>">
                <i class="nav-icon fas fa-money-check-alt"></i>
                <p>
                  Payments
                </p>
              </a>
            </li>
          <% } %>
        </ul>
      </nav>
      
      
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>